@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column align-items-center vh-100">
    <div class="col-md-9 mb-4" style="margin-bottom: 50px;">
        <div class="card">
            <div class="text-center">
                <h1 class="display-4"><b>CGenius</b></h1>
            </div>
        </div>

      

        <div style="margin-bottom: 50px;">
            <div class="card">
                <div class="text-left p-3">
                    <h2>Quem Somos?</h2>
                    <p> Anna Soares - RM99814 - 2TDSA</p>
                    <p> Gabriel Cirilo - RM5... - 2TDSA</p>
                    <p> Izabelly Oliveira - RM551423 - 2TDSA</p>
                    <p> Lucas Monte - RM551604 - 2TDSA</p>
                    <p> Marcos Garrido - RM99578 - 2TDSA</p>
                </div>
            </div>
        </div>
    </div>
